[submodule "vim/pack/samuelwillis/start/lightline"]
	path = vim/pack/samuelwillis/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/samuelwillis/start/nerdtree"]
	path = vim/pack/samuelwillis/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/samuelwillis/start/ctrlp.vim"]
	path = vim/pack/samuelwillis/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/samuelwillis/start/vim-vinegar"]
	path = vim/pack/samuelwillis/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/samuelwillis/start/vim-surround"]
	path = vim/pack/samuelwillis/start/vim-surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/pack/samuelwillis/start/repeat.vim"]
	path = vim/pack/samuelwillis/start/repeat.vim
	url = https://tpope.io/vim/repeat.git
[submodule "vim/pack/samuelwillis/start/vim-fugitive"]
	path = vim/pack/samuelwillis/start/vim-fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/samuelwillis/start/ale"]
	path = vim/pack/samuelwillis/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/samuelwillis/start/solarized"]
	path = vim/pack/samuelwillis/start/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/samuelwillis/start/vim-elixir"]
	path = vim/pack/samuelwillis/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/pack/samuelwillis/start/vim-markdown"]
	path = vim/pack/samuelwillis/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/samuelwillis/start/vim-markdown-preview"]
	path = vim/pack/samuelwillis/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/pack/samuelwillis/start/vim-test"]
	path = vim/pack/samuelwillis/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "vim/pack/samuelwillis/start/vim-dadbod"]
	path = vim/pack/samuelwillis/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "vim/pack/samuelwillis/start/vim-endwise"]
	path = vim/pack/samuelwillis/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/pack/samuelwillis/start/vim-abolish"]
	path = vim/pack/samuelwillis/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/pack/samuelwillis/start/vim-graphql"]
	path = vim/pack/samuelwillis/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/pack/samuelwillis/start/vim-yaml"]
	path = vim/pack/samuelwillis/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "vim/pack/samuelwillis/start/typescript-vim"]
	path = vim/pack/samuelwillis/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/samuelwillis/start/vim-jsx-typescript"]
	path = vim/pack/samuelwillis/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "vim/pack/samuelwillis/start/vim-terraform"]
	path = vim/pack/samuelwillis/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/samuelwillis/start/vim-two-firewatch"]
	path = vim/pack/samuelwillis/start/vim-two-firewatch
	url = git@github.com:rakr/vim-two-firewatch.git
