snippet pubfunc Public Function
	public function ${1}(${2})
	{
		${3}
	}
snippet profunc Protected Function
	protected function ${1}(${2})
	{
		${3}
	}
snippet prifunc Private Function
	private function ${1}(${2})
	{
		${3}
	}

snippet stafunc Static Function
	static function ${1}(${2})
	{
		${3}
	}

