snippet ldeb
	Log::debug('${1}', ${2});

snippet linf
	Log::info('${1}', ${2});

snippet lnot
	Log::notice('${1}', ${2});

snippet lwar
	Log::warning('${1}', ${2});

snippet lerr
	Log::error('${1}', ${2});

snippet lcri
	Log::critical('${1}', ${2});

snippet lale
	Log::alert('${1}', ${2});

snippet leme
	Log::emergency('${1}', ${2});
