snippet conlog
	console.log('${1}', ${2}); //eslint-disable-line
snippet coninf
	console.info('${1}', ${2}); // eslint-disable-line
snippet conwar
	console.warn('${1}', ${2}); // eslint-disable-line
snippet conerr
	console.error('${1}', ${2}); // eslint-disable-line
